<h1>About</h1>
<p>
	<%= link_to "Sidd's Foodstar Project", "http://siddtewari.com" %> is a cool website in the making made with 
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %> in one week.
</p>