<div class="hero-unit">
	<h1>Welcome to Sidd's Pinterest</h1>
	<p>
		This is the home page for 
		<%= link_to "Sidd's Pinterest", "http://siddtewari.com" %>
		website</a>

	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large"%>
	</p>
</div>